// Brand
$brand-primary: #2196f3;
$brand-white: #fff;

@mixin fangzheng-serif(){
  font-family:'FZLanTingHeiS-EL-GB', "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
